
.menu-bar a {    
    text-decoration: none;
    color: rgb(136, 50, 111);
}
.banner {
    background-image: url(../imagens/banner.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 5%;
}
