.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-image: url('../../public/images/fundo-header.jpeg');
  background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de opacidade */
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay; /* Modo de mistura */
  color: white;
  padding: 40px;
  text-align: center;
  position: relative;
  top: 0;
}

.App-nav {
  background-color: rgb(255, 255, 255); /* Fundo preto semi-transparente */
  color: rgb(116, 0, 99);
  padding: 1px 20px 1px 1px;
  position: fixed; /* Fixa o menu no topo da página */
  width: 100%;
  top: 10rem;
  left: 0;
  right: 0;
  z-index: 1000; /* Garante que o menu fique sobre a imagem de fundo */
  transition: background-color 0.3s; /* Transição suave para o efeito hover */
}

.App-nav:hover {
  color: rgb(255, 129, 200); /* Fundo preto mais opaco quando o mouse passa */
}

.App-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.App-nav li {
  margin: 0;
  padding: 0;
}

.App-nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
  transition: background-color 0.3s; /* Transição suave para o efeito hover nos links */
}

.App-nav a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Fundo branco semi-transparente ao passar o mouse */
}

.about {
  padding: 10px;
  text-align: justify;
}

.cta {
  padding: 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.description{
  text-align: justify;
}